<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaibao.student.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kuaibao.student.mapper.Student">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="blocked" property="blocked" />
        <result column="teacher_id" property="teacherId" />
        <result column="join_time" property="joinTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, age, blocked, teacher_id , join_time
    </sql>

    <select id="queryList" resultType="com.kuaibao.student.dto.StudentDTO">
        select * from student stu where 1= 1
        <if test="param.teacherId != null and param.teacherId != ''">
            and stu.teacher_id = {param.teacherId}
        </if>

        <if test="param.name != null and param.name != ''">
            and stu.`name` = {param.name}
        </if>

        <if test="param.ageStart != null and param.ageStart != ''">
            and stu.age &gt;= {param.ageStart}
        </if>

        <if test="param.ageEnd != null and param.ageEnd != ''">
            and stu.age &lt;= {param.ageEnd}
        </if>
    </select>
</mapper>
